// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$font-stack: Arial, sans-serif;
$primary-color: blue;
$body-color:  deep-purple lighten-3;

h1 {color:$primary-color; font:$font-stack;}

 body {
     background:$body-color;
  }



