
 <h1 class="blink_me unicorn">HTTPARTY HARD</h1>

<% @pictures.each do |picture| %>
<%= cl_image_tag(picture.url, :crop => :fill, :width => 120, :height => 80) %>
<% end %>

<style type="text/css" media="screen">
.unicorn {
  animation: colorRotate 6s linear 0s infinite,blinker 200ms linear infinite;;
}
@keyframes colorRotate {
  from {
      color: rgb(255, 0, 0);
  }
  16.6% {
      color: rgb(255, 0, 255);
  }
  33.3% {
      color: rgb(0, 0, 255);
  }
  50% {
      color: rgb(0, 255, 255);
  }
  66.6% {
      color: rgb(0, 255, 0);
  }
  83.3% {
      color: rgb(255, 255, 0);
  }
  to {
      color: rgb(255, 0, 0);
  }
}
@keyframes blinker {
  50% { opacity: 0.0; }
}
</style>

<% @pictures.each do |picture| %>
<%= cl_image_tag(picture.url, :crop => :fill, :width => 120, :height => 80) %>
<% end %>
<canvas id = "myCanvas">

</canvas>
<script>

var c=document.getElementById("myCanvas");
var ctx=c.getContext("2d");
var imageObj1 = new Image();
var imageObj2 = new Image();
imageObj1.src = "http://res.cloudinary.com/ds1rn0ryl/image/upload/v1473362656/exaqt71uptqglcbfejbe.png"
imageObj1.onload = function() {
   ctx.drawImage(imageObj1, 0, 0, 328, 526);
   imageObj2.src = "http://res.cloudinary.com/ds1rn0ryl/image/upload/v1473361302/bjhqxovkymwplkwqwtgb.png";
   imageObj2.onload = function() {
      ctx.drawImage(imageObj2, 15, 85, 300, 300);
      // var img = c.toDataURL("image/png");

      // document.write('<img src="' + img + '" width="328" height="526"/>');
   }
};

</script>
