<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="">
  </head>

<!-- This is a navbar! USED ONCE USER HAS SESSION POST LOG-IN. Just COPY/PASTE xo Rick######################################## -->

    <nav>
      <div class="nav-wrapper light-blue darken-2">
        <a href="" class="brand-logo">RICKIFY</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="">User Archive</a></li>
          <li><a href="">Global Gallery</a></li>
        </ul>
      </div>
    </nav>
  <body>
    <div class = "colorthis">

<!-- These are buttons!! USED ONCE USER HAS SESSION POST LOG-IN. Just COPY/PASTE xo Rick########################################### -->

  <a class="waves-effect waves-light btn-large">Add Your Photo</a>
  <a class="waves-effect waves-light btn-large">Unibrow</a>
  <a class="waves-effect waves-light btn-large">Optional Button?</a>

  <a><button class="btn waves-effect waves-light" type="submit" name="action">Submit
  </button>
  </a>

  <!-- This is a log-in box! Use for INITIAL LOG-IN, FIRST VIEW. Just COPY/PASTE xo Rick. Reference: https://codepen.io/T-P/pen/bpWqrr #########-->

  <div class="section"></div>
  <main>
    <center>

    <h1>RICKIFY</h1>
      <div class="section"></div>

      <h5 class="indigo-text">Please, login into your account</h5>
      <div class="section"></div>

      <div class="container">
        <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

          <form class="col s12" method="post">
            <div class='row'>
              <div class='col s12'>
              </div>
            </div>

            <div class='row'>
              <div class='input-field col s12'>
                <input class='validate' type='email' name='email' id='email' />
                <label for='email'>Enter your email</label>
              </div>
            </div>

            <div class='row'>
              <div class='input-field col s12'>
                <input class='validate' type='password' name='password' id='password' />
                <label for='password'>Enter your password</label>
              </div>
              <label style='float: right;'>
                <a class='pink-text' href='#!'><b>Forgot Password?</b></a>
              </label>
            </div>

            <br />
            <center>
              <div class='row'>
                <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect light-blue darken-2'>Login</button>
              </div>
            </center>
          </form>
        </div>
      </div>
      <a href="#!">Create account</a>
    </center>

    <div class="section"></div>
    <div class="section"></div>
  </main>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>


  <% @pictures.each do |picture| %>
  <%= cl_image_tag(picture.url, :crop => :fill, :width => 120, :height => 80) %>
  <% end %>
  </div>
  </body>
</html>



<!-- using this myCanvas & script stuff later?  -->

<canvas id = "myCanvas">

</canvas>

<script>

var c=document.getElementById("myCanvas");
var ctx=c.getContext("2d");
var imageObj1 = new Image();
var imageObj2 = new Image();
imageObj1.src = "http://res.cloudinary.com/ds1rn0ryl/image/upload/v1473362656/exaqt71uptqglcbfejbe.png"
imageObj1.onload = function() {
   ctx.drawImage(imageObj1, 0, 0, 328, 526);
   imageObj2.src = "http://res.cloudinary.com/ds1rn0ryl/image/upload/v1473361302/bjhqxovkymwplkwqwtgb.png";
   imageObj2.onload = function() {
      ctx.drawImage(imageObj2, 15, 85, 300, 300);
      // var img = c.toDataURL("image/png");

      // document.write('<img src="' + img + '" width="328" height="526"/>');
   }


};

</script>
