<h1>WRONG ONE</h1>
<h1>WRONG ONE</h1>

<h1>WRONG ONE</h1>
<h1>WRONG ONE</h1>
<h1>WRONG ONE</h1>
<h1>WRONG ONE</h1>
<h1>WRONG ONE</h1>

<% @pictures.each do |picture| %>
<%= cl_image_tag(picture.url, :crop => :fill, :width => 120, :height => 80) %>
<% end %>


