// Place all the styles related to the Pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  color: white;
}
$font-stack: Comic Sans MS, cursive, sans-serif;
$primary-color: pink;
// $body-color: deep-purple lighten-3;

h1 {color:$primary-color; font-family:$font-stack;}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: #80cbc4;
  font-family:$font-stack;
  margin: 0 auto;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)
    ), url('http://i.imgur.com/8SSKam6.png');
  animation: loader 40s steps(10000) infinite;
}

@keyframes loader {
  from {
    background-position: 0;
  }
  to {
    background-position: -1600px 0;
  }
}

main {
  flex: 1 0 auto;
}

.input-field input[type=date]:focus + label,
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
  color: #e91e63;
}

.input-field input[type=date]:focus,
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
  border-bottom: 2px solid #e91e63;
  box-shadow: none;
}

.formwrap {
  background: white;
  display: inline-block;
  padding: 32px 48px 0px 48px;
  border: 5px solid black;
  border-radius: 30px 30px 30px 30px;
}
