// Place all the styles related to the Pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Import responive type mixin
@import "resptype";
@import "checkbox";

* {
  color: black;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
$font-stack: Helvetica, sans-serif;
$primary-color: #f97f36;
// #ff7624;
// $body-color: deep-purple lighten-3;

h1 {color:$primary-color; font-family:$font-stack;}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: $primary-color;
  font-family:$font-stack;
  margin: 0;
  background: url("http://i.imgur.com/DBmzq10.png");
  background-size: cover;
  background-repeat-y: no-repeat;
}

main {
  flex: 1 0 auto;
  text-align: center;
  color: $primary-color;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-field input[type=date]:focus + label,
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
  color: #e91e63;
}

// .input-field input[type=date]:focus,
// .input-field input[type=text]:focus,
// .input-field input[type=email]:focus,
// .input-field input[type=password]:focus {
//   border-bottom: 2px solid #e91e63;
//   box-shadow: none;
// }

// Container for the form
.formwrap {
  box-sizing: border-box;
  font-family: helvetica;
  background: #fbf6f7;
  display: inline-block;
  padding: 30px;
  border: 5px solid #eee8e9;
  border-style: double;
  border-radius: 25px;
  text-align: left;
  width: 100%;
  max-width: 500px;
}

// Styling for the actual form
.form-field {
  box-shadow: 0px 0px 6px rgba(0,0,0,0.2);
  outline: none;
  box-sizing: border-box;
  border-radius: 10px;
  height: 30px;
  width: 100%;
  font-size: 26px;
  margin-bottom: 20px;
  border-style: none;
  padding: 39px 22px;
  box-shadow: inset 0px 0px 11px rgba(0,0,0,0.15);
  transition: box-shadow 200ms;
}

.form-field:focus {
  box-shadow: inset 0px 0px 15px rgba(0,0,0,0.25);
}

.login {
  outline: none;
}

.indigo-text {
  text-align: center;
  color: #9a9a9a;
}

#myCanvas {
  visibility: hidden;
}


// Logos! /////////

.logo {
  height: 60%;
  width: 60%;
  max-width: 500px;
}

.logo2 {
  font-family: 'Pacifico', cursive;
  @include responsive-font(16.5vw, 65px, 100px, 70px);
  margin: 0;
  transform: rotate(-10deg);
}

////////////////////

.animate {
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

// Buttons By Ottis Kelleghan
// http://codepen.io/cheeriottis/pen/inluv

.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.field {
  display: inline-block;
  margin-bottom: 20px;
  // padding-left: 23px;
  label {
    font-size: 18px;
    vertical-align: super;
    color: #9c9798;
    border-left: 1px solid #9c9798;
    padding-left: 9px;
    margin-left: 6px;
    text-transform: capitalize;
  }
}

.action-button {
  width: 100%;
  position: relative;
  text-align: center;
  border-radius: 10px;
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  color: #FFF;
  max-width: 200px;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
}

.action-button::after {
  content: '';
  position: absolute;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  background: #fff;
  transform: rotateZ(60deg) translate(-5em, 7.5em);

}

.action-button:hover::after {
  animation: sheen 1s forwards;
  animation-timing-function:  ease-in-out;

}

@keyframes sheen {
  100% {
    transform: rotateZ(60deg) translate(1em, -9em);
  }
}

.blue {
  background-color: #3498DB;
  border: none;
  border-bottom: 5px solid #2980B9;
  text-shadow: 0px -2px #2980B9;
  cursor: pointer;
}

.blue2 {
  padding: 4px;
}

.red {
  border: none;
  padding-bottom: 5px;
  background-color: #E74C3C;
  border-bottom: 5px solid #BD3E31;
  text-shadow: 0px -2px #BD3E31;
  cursor: pointer;
}

.action-button:active {
  transform: translate(0px,5px);
  border-bottom: 1px solid;
}


@media (max-width: 600px){
  .red {
    margin-top: 20px;
  }

  .indigo-text {
    margin-bottom: 0;
  }

  .container {
    background: rgba(251, 246, 247, 0.93);
  }

  .logo2 {
    margin-top: 20px;
  }

  .actions {
    flex-direction: column;
  }

  .action-button {
    max-width: 100%;
  }

  .formwrap {
    background: none;
    border: none;
    width: 100vw;
    max-width: 100vw;
  }

  // Can't hover in touch screen devices
  .login-wrap::after, .action-button::after {
    background: none;
  }
}

@media (max-width: 400px){
  .form-field {
      padding: 30px 22px;
      font-size: 20px;
  }
}
